html,
body {
  padding: 0;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highcharts-credits {
  display: none;
}

.pieChartContainer {
  height: 100%;
}

.clickable:hover {
  cursor: pointer;
}
